@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-nav="true"] > #menu > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(.9);
}

body:not([data-nav="true"]) > #menu:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(.9);
}

* {
    cursor: none;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}

#landingpage-profile {
    background: linear-gradient(205deg, #fff 15%, #000 80%);
}

#landingpage-socials {
    grid-template-columns: 1fr auto 1fr;
}

#menu {
    z-index: 9999;
    transform: translateX(-50%);
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#menu > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#menu:hover {
    transform: translateX(-50%) scale(1.04);
}

#menu:active {
    transform: translateX(-50%) scale(0.96);
}
